

.presentacion{
    background: #E8C07D;
    padding: 40px;
    margin: 20px;
}

.titulo_principal{
    color: #f5ae8a;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;              /*centra el titulo*/
    background-color:#A63D2E ;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 0;
    font-size: 2.5rem;              /*define el tamaño del texto, 2.5 veces el tamaño base */
}

.titulos_secundarios{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: #5C3D2E;
    background-color:#F5E3C3 ;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: #A63D2E;
    color: white;
    padding: 20px 0;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #228B22;
}

section {
    background-color: #E8C07D;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.menu {
    list-style-type: none;  /* Quita las viñetas */
    padding: 15px 0;             /*espaciado arriba y abajo*/
}

.menu ul {
    display: flex; /* Alinea los elementos en fila */
    justify-content: center; /* Centra los enlaces */
    list-style: none; /* Quita los estilos de lista */
    padding: 10;
    margin: 0;
}
.menu li{
    margin: 0 20px;         /* Espacio entre los enlaces */
}
.menu a{
    text-decoration: none; /* Quita el subrayado */
    color: white; /* Color del texto */
    font-size: 18px;
}





aside {
    width: 25%;                /*  ocupa el 25% del ancho */
    padding: 20px;              /* Relleno interno */
    margin-left: 20px;          /* Espacio entre el aside y el contenido */
    border-radius: 10px;        /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
#Historia-Patrimonio{
    display: flex;
    margin: 20px;               /* Márgenes alrededor del contenedor */
   
}

/*formulario de contacto*/
.contacto{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
label{
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}
input, textarea{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#enviar{
    background-color: #228B22;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
.texto-formulario{
    text-align: center;
}
/*museos y arte*/
.museos{
    list-style-type: none;  /* Quita las viñetas */
    padding: 30px;             /*espaciado arriba y abajo*/
    display: flex; /* Alinea los elementos en fila */
    justify-content: center; /* Centra los enlaces */
    list-style: none; /* Quita los estilos de lista */
    padding: 10px;
    margin:20px;
    color: #A63D2E; /* Color del texto */
    font-size: 18px;
}
.imagenes {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Mantiene proporciones y recorta si es necesario */
    margin: 40px;
}

.titulo-museos{
    text-align: center;              /*centra el titulo*/
    font-size: 1.5rem;              /*define el tamaño del texto, 2.5 veces el tamaño base */
}
.volver-atras{
    margin: 20px;
    padding: 20px;
    border: 5px solid #228B22;
}
.volver-atras a{
    text-decoration: none; /* Quita el subrayado */
    color: #A63D2E; /* Color del texto */
    font-size: 20px;
}